# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Archives
*.xcarchive
*.ipa

# Swift Package Manager
.build/
